@model RazorWeb.Models.Product

@{
    ViewData["Title"] = "Product Details";
}

<h1>Product Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Product Name</dt>
        <dd class="col-sm-10">@Model.ProductName</dd>

        <dt class="col-sm-2">Description</dt>
        <dd class="col-sm-10">@Model.Description</dd>

        <dt class="col-sm-2">Price</dt>
        <dd class="col-sm-10">@(Model.Price)$</dd>

        <dt class="col-sm-2">Image</dt>
        <dd class="col-sm-10">
            @if (!string.IsNullOrEmpty(Model.ImageFileName))
            {
                <img src="/products/@Model.ImageFileName" alt="@Model.ProductName" class="img-thumbnail" />
            }
            else
            {
                <span>No image available</span>
            }
        </dd>

        <dt class="col-sm-2">Created At</dt>
        <dd class="col-sm-10">@Model.CreateAt.ToString("dd MMM yyyy")</dd>

        <dt class="col-sm-2">Category</dt>
        <dd class="col-sm-10">@Model.Category?.CategoryName</dd>

        <dt class="col-sm-2">Brand</dt>
        <dd class="col-sm-10">@Model.Brand?.BrandName</dd>

        <dt class="col-sm-2">Status</dt>
        <dd class="col-sm-10">@((Model.Active.HasValue && Model.Active.Value) ? "Active" : "Inactive")</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProductID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
