@model IEnumerable<RazorWeb.Models.Product>

@{
    ViewData["Title"] = "Products";
}

<h1>Products</h1>

<h2 class="text-center mb-5">List of Products</h2>
<div class="row mb-5">
    <div class="col">
        <a class="btn btn-primary" asp-controller="Products" asp-action="Create">
            New Product
        </a>
    </div>
    <div class="col">
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Price</th>
            <th>Category</th>
            <th>Brand</th>
            <th>Image</th>
            <th>Created At</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductName</td>
                <td>@(item.Price)$</td>
                <td>@item.Category?.CategoryName</td>
                <td>@item.Brand?.BrandName</td>
                <td><img src="/products/@item.ImageFileName" width="100" /></td>
                <td>@item.CreateAt.ToString("MM/dd/yyyy")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProductID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ProductID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProductID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
